.botoes{
  width: 328px;
  height: 67px;
  display: inline-block;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  margin-top: auto;
  margin-left: 240px;
  margin-bottom: 150px;


}
.encriptografar{
  width: 328px;
  background: #0A3871;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 24px;
  transition: 0.2s;
    
}
.encriptografar:hover{
  cursor: pointer;
  font-size: 32px;
  background: rgb(11, 11, 11);

}
.descriptografar{
  width: 328px;
  background: #D8DFE8;
  color:  #0A3871;
  font-size: 16px;
  text-align: center;
  border: 1px solid #0A3871;
  border-radius: 24px;
  transition: 0.2s;
}
.descriptografar:hover{
  cursor: pointer;
  font-size: 32px;
  background: #D8DFE8;
}